<div class="row">


<form class="six columns" action="/orderitems" method="post">
  <input type="text" name="orderitem[name]" placeholder="Food Item name">
  <input type="text" name="orderitem[cusine]" placeholder="Cusine">
  <input type="text" name="orderitem[price]" placeholder="Price">
  <input type="text" name="orderitem[allergens]" placeholder="Allergens">
  <input class="submit" type="submit" value="Create new Order">
</form>

</div>
