<div class="row">


<form class="six columns" action="/orderitems" method="post">

  <select  name="oderitem[food_item_id]">
    <%@fooditems.each do |fooditem| %>
      <option value="<%=fooditem.id%>"><%=fooditem.name%></option>
    <%end%>

  </select>

  <select  name="oderitem[party_id]">
    <%@parties.each do |party| %>
      <option value="<%=party.id%>"><%=party.table_number%></option>
    <%end%>
  </select>

  <input class="submit" type="submit" value="Create new order">
</form>

</div>
