

<div class="row">
<img class="eight columns" src="logo.gif" alt="" />
</div>

<h1>Lichard's Heartbreak Bar and Restaurant</h1>


<div class="row">


</form><form action="/fooditems/new">
  <input class="button three columns" type="submit" value="Administrator Manage Menu">
</form>

</form><form action="/parties/new">
  <input class="button three columns" type="submit" value="Waiter Manage Tables">
</form>

</form><form action="/orderitems/new">
  <input class="button three columns" type="submit" value="Waiters Manage orders">
</form>

</form><form action="/orderitems/">
  <input class="button three columns" type="submit" value="Chefs Manage orders">
</form>
</div>
