<div class="container">

<div class="row">
<img class="twelve columns" src="./logo.gif" alt="" />
</div>

<h1>Lichard's Heartbreak Bar and Restaurant</h1>

<hr>

<div class="three columns" id="index">

  <form action="/fooditems/">
  <input class="button three columns" type="submit" value="Administrators">
</form>

</div>

<div class="three columns" id="index">

<form action="/parties">
  <input class="button three columns" type="submit" value="Waiters">
</form>
</div>

<div class="three columns" id="index">
<form action="/orderitems/">
  <input class="button three columns" type="submit" value="Chefs">
</form>
</div>
