body{
  background-color: lightblue;
  color:red
}


h1{
  text-align: center;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.order{
  background-color: green;
  color: white;
}

.eight{
 top:-20%;
 left: 30%;
}

.button{
  display:inline-block;
  color:red;

}
