<h1> Add New Food Item</h1>

<div class="row">


<form class="six columns" action="/fooditems" method="post">
  <input type="text" name="fooditem[name]" placeholder="Food Item name">
  <input type="text" name="fooditem[cusine]" placeholder="Cusine">
  <input type="text" name="fooditem[price]" placeholder="Price">
  <input type="text" name="fooditem[allergens]" placeholder="Allergens">
  <input class="submit" type="submit" value="Create new FoodItem">
</form>

</div>
