<h1>Tables</h1>



<div class="row">


<div class="twelve rows">
<table>
  <tr>
    <th>
      Table Number
    </th>
    <th>
      Number of people
    </th>
    <th>
      Paid in full?
    </th>
  </tr>
<%@parties.each do |party|%>

<tr>
  <td>
    <%=party.table_number%>
  </td>
  <td>

    <%=party.num_guests%>

  </td>
  <td>
    <%=party.paid%>
  </td>
  <td>
    <form action="/orderitems/new">
      <input class="partyButton" type="submit" value="Service">
    </form>
    <form action="/parties/<%=party.id%>">
      <input class="partyButton" type="submit" value="Reciept">
    </form>
  </td>

 </tr>
<%end%>
</table>
<form action="/parties/new">
  <input class="button three columns" type="submit" value="Add new table">
</form>
<form action="/">
  <input class="three columns" type="submit" value="Main Menu">
</form>

</div>
