<h1>parties</h1>



<div class="row">


<div class = "five rows">
<table>
  <tr>
    <th>
      Table Number
    </th>
    <th>
      Number of people
    </th>
    <th>
      Paid in full?
    </th>
  </tr>
<%@parties.each do |party|%>

<tr>
  <td>
<a href="/parties/<%=party.id%>">
    <%=party.table_number%>
</a>
  </td>
  <td>

    <%=party.num_guests%>

  </td>
  <td>
    <%=party.paid%>
  </td>
 </tr>

<%end%>
</table>
</div>
