



<div class="row">


<form class="six columns" action="/parties" method="post">
  <input type="text" name="party[table_number]" placeholder="Table number">
  <input type="text" name="party[num_guests]" placeholder="# people in party">
  <input type="text" name="party[paid]" placeholder="Has Paid?">
  <input class="submit" type="submit" value="Create new Party">
</form>

</div>
