<h6 class = twelve columns>
  <%= @parties.table_number%> <%= @parties.num_guests%><%= @parties.paid%> </h6>


  <form action="/parties/<%=@parties.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" >Remove</button>
  </form>
